In [1]:
import pandas as pd

In [2]:
a = pd.DataFrame({'date': ['03-02', '03-10', '04-02', '04-10']})
b = pd.DataFrame({'month': ['03-01', '04-01', '05-01'], 'interest_rate': [1, 2, 3]})

In [5]:
a

    date  month
0  03-02  03-01
1  03-10  03-01
2  04-02  04-01
3  04-10  04-01

In [7]:
a['month'] = a.apply(lambda x: x['date'].split('-')[0]+'-01', axis=1)
a = pd.merge(a, b, how='left', on='month')
a = a.drop(columns='month')
a

    date  interest_rate
0  03-02              1
1  03-10              1
2  04-02              2
3  04-10              2